html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}
a:hover {
  text-decoration: none;
}
.container--narrow {
  max-width: 732px;
}
