.btn {
  &--black {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 35px;
  }
  &--marbot {
    margin-bottom: 1.875rem;
    @mixin atSmall {
      margin-bottom: 0rem;
    }
  }
  &--martop {
    margin-top: 1.875rem;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}
