.headline {
  font-weight: 300;
  font-size: 1.5rem;
  color: $mainBlack;

  &--white {
    color: #fff;
  }

  @mixin atSmall {
    font-size: 2rem;
  }

  &--centered {
    text-align: center;
  }

  &--small {
    font-size: 1.2rem;

    @mixin atSmall {
      font-size: 1.875rem;
    }
  }

  &--narrow {
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  &--b-margin-small {
    margin-bottom: 0.5em;
  }

  &--b-margin-large {
    margin-bottom: 1.6em;
  }

  &--no-t-margin {
    margin-top: 0;
  }
}
